/*
Credit: http://www.templatemo.com
*/

body {
	min-width: 1300px;
	margin: 0px;
	padding: 0px;
	color: #4c5148;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #fff;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

.autor_1 {
	font-size: 20px;
	color: #1D8EB2;
	
}

.button {
	padding: 0 0 0 0;

}

.button_t{text-decoration:none; text-align:center; 
 padding:4px 7px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#309412; 
 background-image: -moz-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -webkit-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -o-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -ms-linear-gradient(top, #309412 0% ,#0e7022 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7022', endColorstr='#0e7022',GradientType=0 ); 
 background-image: linear-gradient(top, #309412 0% ,#0e7022 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button_t:hover{
 padding:4px 7px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#23a352; 
 background-image: -moz-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -webkit-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -o-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -ms-linear-gradient(top, #23a352 0% ,#3ba170 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba170', endColorstr='#3ba170',GradientType=0 ); 
 background-image: linear-gradient(top, #23a352 0% ,#3ba170 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

 .button_clo{text-decoration:none; text-align:center; 
 padding:4px 7px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#309412; 
 background-image: -moz-linear-gradient(top, #AD4436 0%, #AD4436 100%); 
 background-image: -webkit-linear-gradient(top, #AD4436 0%, #AD4436 100%); 
 background-image: -o-linear-gradient(top, #AD4436 0%, #AD4436 100%); 
 background-image: -ms-linear-gradient(top, #AD4436 0% ,#AD4436 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7022', endColorstr='#0e7022',GradientType=0 ); 
 background-image: linear-gradient(top, #309412 0% ,#0e7022 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button_clo:hover{
 padding:4px 7px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#23a352; 
 background-image: -moz-linear-gradient(top, #AD4436 0%, #AD4436 100%); 
 background-image: -webkit-linear-gradient(top, #AD4436 0%, #3AD4436a170 100%); 
 background-image: -o-linear-gradient(top, #AD4436 0%, #AD4436 100%); 
 background-image: -ms-linear-gradient(top, #AD4436 0% ,#AD4436 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba170', endColorstr='#3ba170',GradientType=0 ); 
 background-image: linear-gradient(top, #23a352 0% ,#3ba170 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

 .button_d{text-decoration:none; text-align:center; 
 padding:1px 15px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:15px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#309412; 
 background-image: -moz-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -webkit-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -o-linear-gradient(top, #309412 0%, #0e7022 100%); 
 background-image: -ms-linear-gradient(top, #309412 0% ,#0e7022 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7022', endColorstr='#0e7022',GradientType=0 ); 
 background-image: linear-gradient(top, #309412 0% ,#0e7022 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button_d:hover{
 padding:1px 15px; 
 border:solid 1px #f5f5f5; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:15px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#23a352; 
 background-image: -moz-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -webkit-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -o-linear-gradient(top, #23a352 0%, #3ba170 100%); 
 background-image: -ms-linear-gradient(top, #23a352 0% ,#3ba170 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba170', endColorstr='#3ba170',GradientType=0 ); 
 background-image: linear-gradient(top, #23a352 0% ,#3ba170 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

.button_1 {
	margin: 0 0 0 20px; 

}

.zagolovok {
	font-family: serif;
	font-size: 23px;
	color: #116708;
}





.red {
	color: red;
}
a, a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }

p { margin: -10px 0 15px 0; padding: 0; color: black;}
img { border: none; }

ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; }



h1, h2, h3, h4, h5, h6 { color: #000; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 20px 0; padding: 10px 0 15px 0; }
h3 { font-size: 22px; font-weight: normal; margin: 0 0 15px 0; padding: 0; padding: 0 0 10px 0; }
h4 { font-size: 20px; font-family: serif; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 12px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.hr_divider { 
	background: url(images/templatemo_hr_divider.jpg) bottom repeat-x; 
}

.float_l { 
	float: left; 
}

.float_r { 
	float: right; 
}
.float_login { 
	float: left; 
}

.float_register { 
	margin-left: 20px; 
}

.image_wrapper { display: inline-block; padding: 6px; border: 1px solid #ccc; background: #fff; margin-bottom: 15px; }
.image_fl { float: left; margin: 3px 30px 0 0; }
.image_fr { float: right; margin: 3px 0 0 30px; }

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #7b949f; }
em { font-size: 15px; color: #0d99d3; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: url(images/templatemo_list.png) no-repeat scroll 0 3px; margin: 0 0 13px; padding: 0 0 3px 25px;line-height: 1em; color: #507a19; }
.tmo_list li a { color: #507a19; text-decoration: none; }
.tmo_list li a:hover { color: #507a19; text-decoration: none; }


a.btn_more {
	display: block;
	text-decoration: none;
	font-weight: bold;
}

a.btn_more span {
	font-size: 18px;
}

#templatemo_document_wrapper {
	background: url(images/templatemo_wrapper.jpg) top center no-repeat;
}

#templatemo_wrapper {
	margin: 0 0 0 100px;
	background: url(images/templatemo_header.jpg) top center no-repeat;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 1160px;
	height: 50px;
	background: url(images/templatemo-menu.jpg) no-repeat;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}





#templatemo_menu ul li a {
	float: left;
	display: block;
	font-size: 14px;
	width: 120px;
	height: 35px;
	padding: 15px 0 0 0;
	margin-right: 2px;
	color: #494942;	
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
}



#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #fff;
	background: url(images/templatmeo_menu_hover.jpg) repeat-x top
}



/* end of menu */

#templatemo_header {
	height: 300px;
	width: 960px;
}

#site_title {
	
}

#site_title h1 {
	padding: 0;
}

#site_title h1 a {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 40px;
	color: #d07f0b;
	font-weight: normal;
	text-decoration: none;
}

#site_title a span {
	display: block;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	margin-top: 10px;
}

#header_content {
	clear: both;
	width: 630px;
	color: #63695d;
	line-height: 30px;
	font-size: 18px;
}

#header_content p {
	margin-bottom: 20px;
}

#header_content a.more {
	text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #ffffff; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#58c21b; 
 background-image: -moz-linear-gradient(top, #58c21b 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #58c21b 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #58c21b 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #58c21b 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #58c21b 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

#header_content a.more:hover {
	color: #B0C4DE;
}

#templatemo_main {
	clear: both;
	width: 960px;
	min-height: 100%;
	padding: 30px 0;
	background: url(images/templatemo-content-top.jpg) no-repeat top;
	min-height: 271px;
}


#templatemo_main p {
	margin-bottom: 15px;
}

#templatemo_slider {
	width: 860px;
	padding: 15px;
	margin-bottom: 30px;
	border: 5px solid #e6d8e0;
}

#frontpage_services {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

#frontpage_services h3 {
	padding-left: 45px;
	color: #000;
	padding-top: 5px;
}

#frontpage_services .sp1 {
	background: url(images/onebit_08.png) no-repeat center left;
}

#frontpage_services .sp2 {
	background: url(images/onebit_12.png) no-repeat center left;
}

#frontpage_services .sp3 {
	background: url(images/onebit_17.png) no-repeat center left;
}

.sp_services_box {
	float: left;
	width: 300px;
	margin-right: 30px;
}


.col_w450 { 
	float: left;
	width: 450px;
	margin-right: 60px;
}

.last_box {
	margin: 0;
	padding: 0;
}

.hp_news_box { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #CCC }
#templatemo_main .hp_news_box p { margin-bottom: 0 }
.hp_news_box .date { color: #0b6d1a; margin-bottom: 0 }

.news_box {
	float: left;
	width: 450px;
	margin-right: 60px;
	margin-bottom: 60px;
}

.news_box_odd { margin-right: 0; }

.news_box h2 {
	color: #183544;
	margin-bottom: 10px;
}

.news_box .news_meta {
	margin-bottom: 10px;
}

.news_box img {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 20px;
}

.news_box_last {
	margin-bottom: 0;
}

/* gallery */

#gallery {
	clear: both;
}

#gallery input {
	height: 20px;
	border: 2px solid #4CA4B2;
}
	
	.gallery_box {
		width: 450px;
		margin: 0 0 30px 0;
		border-bottom: 1px dashed #fff;
		border: 1px solid transparent;
		padding: 10px;
	}

	.gallery_box:hover {
		border: 1px solid green;
	}
	
	.gb_even { float: left; }
	.gb_odd { float: right; }

	.silka.link {
		color: black;
	}

	.gallery_box .left {
		float: left;
		width: 110px;
	}
	
	.gallery_box .left img {
		width: 100px;
		height: 100px;
	}
	
	.gallery_box .right {
		float: right;
		width: 320px;
	}
	.gallery_box .right img {
		width: 100px;
		height: 100px;
	}

	
	 
/* end of gallery */

#contact_form form { padding: 0px; }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field {
	width: 310px;
	padding: 5px;
	background: #eee;
	border: 1px solid #999;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	color: #333;
	margin-right: 10px;
	font-size: 13px;	
}

#contact_form form textarea {
	width: 438px;
	height: 200px;
	padding: 5px;
	background: #eee;
	border: 1px solid #999;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	padding: 5px 14px;
	background: #eee;
	border: 1px solid #999;
	font-size: 13px;
}

/* end of main */

/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	min-width: 100%;
	background: #2d4a10;
	border-top: 5px solid #446c1b;
	margin:0 auto;
}

#templatemo_footer {
	clear: both;
	width: 960px;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background: url(images/templatemo-footer.jpg) no-repeat; 
}

#templatemo_footer a { color: #fff; }

/* end of footer */


/* Tests */
.info {
	color: red;
	font-size: 12px;
}

.test_question {
	font-size: 18px;
	font-family: serif;
	color: #B8803F; 
}

.test_answer {
	color: #4C5148;
	font-weight: 600;

}

.zir {
	color: red;
}

/* Signup */

content label, content input {
	width: 30%;
	display: block;
}

content button {
	margin-top: 10px;
}

content label {
	color: #2FAA07;
	font-weight: bold;
}

.menu {
	margin: 0 auto;
}

.title {
	text-align: center;
	border: 2px solid black;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
	color: #1B6808;
}

.main {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.url {
	text-decoration: none;
	color: #1631B8;
	font-weight: bold;
	font-size: 17px;
}

th {
	color: black;
	border: 1px solid black;
}

td {
	border-right: 1px solid black;
	padding-right: 10px;
	text-align: center;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

.button_o {
	background-color: #1FB800;
	color: white;
	padding:3px 5px 3px 5px;
	border-radius: 5px;
}

.button_c {
	background-color: #AD0707;
	color: white;
	padding:3px 5px 3px 5px;
	border-radius: 5px;
}

.search_group {
	float: right;
	margin-right: 10px;
}

.search, .send {
	border-radius: 5px;
	background-color:#3C9100;
	color: white;
}

.search_group input {
	width: 180px;
	border-radius: 5px;
}

.menu_other {
	margin-top: 10px;
	margin-left: 20px;
	width: 40%;
	float: left;
}

.conclusion {
	overflow: auto;
	margin-top: 10px;
	margin-left: 20px;
	width: 45%;
	height: 40%;
	float: left;
	border-left: 1px solid black;
}

.conclusion table {
	margin: 0 auto;
}

.menu_other label, .menu_other input {
	width: 40%;
	display: block;
}

.menu_other button {
	margin-top: 10px;
}