.test-vopros {
	font-size: 15px;
	font-weight: 600;
	color: #0b1607;
}

.zagolovok {
	font-size: 25px;
	font-weight: bold;
	color: #0A6E3A;
	text-align: center;
	font-family: serif;
}

.nazvanie {
	font-size: 22px;
	font-family: serif; 
}

