body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #ECEBE7;
}

.header {
	clear: both;
	width: auto;
	height: 50px;
	background-color: black;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.header ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

.center ul li a {
	margin: auto;
	float: left;
	display: block;
	font-size: 14px;
	width: 120px;
	height: 35px;
	padding: 15px 0 0 0;
	margin-right: 2px;
	color: #BEBEBE;	
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
}

.center a:hover {
 	color: black;
	background-color: #888888;
}

.illumination {
	color: black;
	background-color: #888888;
}

.center {
	width: 1000px;
	margin:auto;
}

.menu {
	margin: 50px 100px 50px 100px;
}

.prof {
	color: white;
	float: right;
	padding: 15px;
}

.prof img {
	vertical-align: middle;
	margin-left: 5px;
}
.prof a {
	text-decoration: none;
}

.title {
	text-align: center;
	border: 2px solid black;
	padding: 3px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
	color: #1B6808;
}

.main {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.url {
	text-decoration: none;
	color: #1631B8;
	font-weight: bold;
	font-size: 17px;
}

th {
	border: 1px solid black;
}

td {
	border-right: 1px solid black;
	padding-right: 10px;
	text-align: center;
}

.button_o {
	background-color: #1FB800;
	color: white;
	padding:3px 5px 3px 5px;
	border-radius: 5px;
}

.button_c {
	background-color: #AD0707;
	color: white;
	padding:3px 5px 3px 5px;
	border-radius: 5px;
}

.search_group {
	float: right;
	margin-right: 10px;
}

.search, .send {
	border-radius: 5px;
	background-color: black;
	color: white;
}

input {
	width: 180px;
	border-radius: 5px;
}

.menu_other {
	margin-top: 10px;
	margin-left: 20px;
	width: 40%;
	float: left;
}

.conclusion {
	overflow: auto;
	margin-top: 10px;
	margin-left: 20px;
	width: 45%;
	height: 40%;
	float: left;
	border-left: 1px solid black;
}

.conclusion table {
	margin: 0 auto;
}

.menu_other label, .menu_other input {
	width: 40%;
	display: block;
}

.menu_other button {
	margin-top: 10px;
}

