.zagolovok {
	font-size: 25px;
	font-weight: bold;
	color: #0A6E3A;
	text-align: center;
	font-family: serif;
}

.nazvanie {
	font-size: 22px;
	font-family: serif; 
}

.plan {
	margin-top: 20px;
	font-size: 15px;
}

.text_ab {
	text-indent: 15px;
	font-size: 16px;
	color: black;
	font-family: serif;
}

.vopros {
	font-size: 17px;
	color: black;
	font-family:  GardensC;
}

.plan {
	font-style: italic;
	color: #4BB50F;

}

.povna_ver {
	font-family: serif;
	color: green;
	font-size: 20px;
}

.download {
	font-size: 25px;

}

.pod_zagolovok {
	font-size: 20px;
	color: black;
}